@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

*{
    font-family: 'Poppins', sans-serif;
}

.m{
    display: flex;
    height: 100vh;
    background-image: linear-gradient(180deg, var(--burlywood), var(--desert-sand));
}

.m-left{
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
}

.m-left-wrapper{
    padding: 10px;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.m-right{
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
}

.m-img{
    height: 50%;
    object-fit: cover;
    border-radius: 30px;
    box-shadow: 0 20px 20px 10px var(--brown-sugar);
}

.m-market{
    color: var(--coffee);
   text-align: right;
}

.m-title{
    color: var(--brown-sugar);
    text-align: right;
    font-size: 42px;
}

.m-desc{
    width: 100%;
    text-align: right;
    font-size: 20px;
}

:root {
    --brown-sugar: rgb(156, 102, 68);
    --coffee: rgb(127, 85, 57);
    --cafe-au-lait: rgb(176, 137, 104);
    --burlywood: rgb(221, 184, 146);
    --desert-sand: rgb(230, 204, 178);
    --almond: rgb(237, 224, 212);
}

@media screen and (max-width: 480px) {
    .m{
        flex-direction: column;
        height: 150vh;
    }

    .m-market{
        text-align: center;
    }

    .m-title{
        text-align: center;
    }

    .m-desc{
        display: none;
    }

    .m-img{
       margin-bottom: 200px;
       width: 80%;
    }
}